<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="{{ site.color }}">
  {% seo %}
  <link rel="stylesheet" href="{{ '/public/css/styles.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/public/fonts/caomei/style.css' | relative_url }}">
  {% include head_css.html %}
  <link rel="icon" type="image/jpeg" href="{{ site.author.photo | relative_url }}">
  <link rel="apple-touch-icon" href="{{ site.author.photo | relative_url }}">
  <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ '/feed.xml' | relative_url }}">
  <link rel="manifest" href="{{ '/manifest.json' | relative_url }}">
</head>
