---
layout: default
---

<article class="post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-date">
    <span><span class="icon czs-calendar" aria-hidden="true"></span> 发表于
      <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: '%Y年%m月%d日' }}</time>
    </span>
    {% if page.categories.size != 0 %}
      <span class="post-meta-separator">&middot;</span>
      <span>归类于
        {% for cat in page.categories %}
          <a href="{{ '/categories.html' | relative_url }}#{{ cat | escape }}" title="{{ cat }}">{{ cat }}</a>{% unless forloop.last %}、{% endunless %}
        {% endfor %}
      </span>
    {% endif %}
  </div>
  <hr class="post-divide">
  {{ content }}
</article>

{% if page.tags.size != 0 %}
  <div class="tags" aria-label="文章标签">
    <span class="icon czs-tag" aria-hidden="true"></span>
    {% for tag in page.tags %}
      <a href="{{ '/tags.html' | relative_url }}#{{ tag | escape }}" title="{{ tag }}">#{{ tag }}</a>
    {% endfor %}
  </div>
{% endif %}

<hr class="post-divide post-pagination-divide">
<nav class="post-pagination" aria-label="文章翻页">
  {% if page.previous %}
    <a class="float-left" href="{{ page.previous.url | relative_url }}" title="{{ page.previous.title }}">« {{ page.previous.title }}</a>
  {% endif %}
  {% if page.next %}
    <a class="float-right" href="{{ page.next.url | relative_url }}" title="{{ page.next.title }}">{{ page.next.title }} »</a>
  {% endif %}
</nav>
<div class="clearfix"></div>
